html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-image: url('/floral_black_wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slider {
  margin: auto;
  position: relative;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
    position: relative;
    margin: auto;
    margin-left: auto;
    height: 500px;

    border-radius: 10px;

}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 2px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  color: yellow

}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 2px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  color: yellow
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
  z-index: 9;
}

.slide-active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}